@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.homescreen-btns{
  display:flex;
  flex-direction: column;
justify-content: center;
 width:30%;
 margin:25px;
}
.buttonHolder{
  display:flex;
  justify-content:center;
}
.nav-logo{
  width:100px;
  height: 100px;
  border-radius:100px;
}
